root=true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,ps1,ts,html,scss}]
indent_size = 4

[*.{yml, yaml}]
indent_size = 2

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
